
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



.d-block
{
    height: 100vh;
    width: 100%;
}

.carousel h1,p
{
color: white;
font-family: sans-serif;
}

#button1
{
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    border-style: hidden;
    background-color: #fdee00;
}
 
#button2
{
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    border-style: hidden;
    background-color: #3c1f41;
}

#feat
{
    font-size: 35px;
    color: #3c1f41;
}

.column {
    float: left;
    width: 33.3%;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }

p
{
color: black;
}

#buy
{
    background-color: #fdee00 ;
    color: black;
    border-radius: 4px;
    border-style: hidden;
    padding-left: 16px;
    padding-right: 16px;
}


.video
{
    background-color: #3c1f41;
    color: white;
}

.plan
{
    background-color: #A9A9A9;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: hidden;
    border-style: 5px;
}

i
{
font-size: 140px;
color:  #753a88;
}


.life .container {
    margin-top: 100px;
    margin-bottom: 100px
}

.life .carousel-inner img {
    width: 100%;
    height: 100%;
}

.life #custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

.life #custCarousel .carousel-indicators>li {
    width: 100px
}

.life #custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

.life #custCarousel .carousel-indicators li.active img {
    opacity: 1
}

.life #custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.life .carousel-item img {
    width: 80%;
    max-height: 400px;
}

 